@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 375px) {
  body {
    font-weight: 500;
  }
}