#name-error,
#cardnum-error,
#date-error,
#cvc-error {
    display: none;
    font-size: 12px;
    color: red;
    position: absolute;
}

#name-error {
    left: 25px;
    top: 97px;
}

#cardnum-error {
    left: 25px;
    top: 189px;
}

#date-error {
    left: 25px;
    top: 283px;
}

#cvc-error {
    left: 190px;
    top: 283px;
}