form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 375px;
    height: 350px;
    padding: 25px;
    box-sizing: border-box;

    label {
        width: 100%;
        font-size: 14px;
        grid-column: span 2;
    }

    input,
    button {
        font-family: inherit;
        font-size: 20px;
        width: 100%;
        border-radius: 10px;
    }

    input {
        height: 45px;
        border-color: hsl(270, 3%, 87%);
        margin: 10px 0 20px 0;
        padding: 0 10px;
        box-sizing: border-box;
        box-shadow: none;
        outline: none;
    }

    input:focus:not(.error) {
        border-color: hsl(278, 94%, 30%);
        outline: none;
    }

    input.error {
        border-color: red;
    }

    input:focus {
        border-color: white;
    }

    button {
        grid-column: span 2;
        height: 50px;
        background-color: black;
        color:hsl(0, 100%, 100%);
        margin-top: 20px;
    }

    button:hover {
        background-color: hsl(278, 94%, 30%);
    }

    button:active {
        background-color: hsl(249, 99%, 64%);
    }

    .short-input {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column: span 2;
        font-size: 14px;

        input {
            width: 90%;
        }

        .header {
            grid-column: span 2;
        }

        .cvc {
            grid-column: span 2;
            width:100%;
        }
    }
}