form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 375px;
    height: 350px;
    padding: 25px;
    box-sizing: border-box;

    .label {
        font-size: 14px;
        grid-column: span 4;
        margin-bottom: 5px;
    }

    .header {
        grid-column: span 2;
    }

    #exp-month,
    #exp-year {
        grid-column: span 1;
        width: 90%;
    }

    #cvc-num {
        grid-column: span 2;
    }

    input,
    button {
        grid-column: span 4;
        font-family: inherit;
        font-size: 20px;
        width: 100%;
        border-radius: 10px;
    }

    input {
        height: 45px;
        border-color: hsl(270, 3%, 87%);
        padding: 0 10px;
        box-sizing: border-box;
        box-shadow: none;
        outline: none;
    }

    input:focus:not(.error) {
        border-color: hsl(278, 94%, 30%);
        outline: none;
    }

    input.error {
        border-color: red;
    }

    input:focus {
        border-color: white;
    }

    button {
        height: 50px;
        background-color: black;
        color:hsl(0, 100%, 100%);
    }

    button:hover {
        background-color: hsl(278, 94%, 30%);
    }

    button:active {
        background-color: hsl(249, 99%, 64%);
    }
}

#name-error,
#cardnum-error,
#date-error,
#cvc-error {
    visibility: hidden;
    font-size: 12px;
    color: red;
    grid-column: span 4;
    height: 20px;
}

#date-error,
#cvc-error {
    grid-column: span 2;
}

#success-message {
    width: 375px;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background-color: white;

    img {
        margin: 75px 0 25px 0;
    }

    .first {
        font-size: 28px;
    }

    .second {
        color:hsl(212, 12%, 71%);
        font-size: 13px;
        margin: 10px 0 35px 0;
    }
}