#success-message {
    width: 375px;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background-color: white;

    img {
        margin: 75px 0 25px 0;
    }

    .first {
        font-size: 28px;
    }

    .second {
        color:hsl(212, 12%, 71%);
        font-size: 13px;
        margin: 10px 0 35px 0;
    }
}